#!/bin/bash

# 加载 .env 文件
if [ -f .env ]; then
    export $(cat .env | grep -v '#' | awk '/=/ {print $1}' )
else
    echo ".env file not found!"
    exit 1
fi

# 配置文件路径
KEYSTORE_FILE="{{ keystore_file }}"
TRUSTSTORE_FILE="{{ truststore_file }}"

# 密码从 .env 文件中读取
KEYSTORE_PASSWORD="{{ keycloak_key_store_password }}"
TRUSTSTORE_PASSWORD="{{ keycloak_trust_store_password }}"

# 密钥别名和密码
KEY_ALIAS="{{ key_alias }}"
KEY_PASSWORD="{{ key_password }}"
ROOT_CA_CERT="{{ ssl_certificate.path }}"

# 1. 创建 Keystore (包括私钥)
echo "Creating keystore..."
keytool -genkeypair -v -keystore $KEYSTORE_FILE -keyalg RSA -keysize 2048 -validity 365 -alias $KEY_ALIAS -storepass $KEYSTORE_PASSWORD -keypass $KEY_PASSWORD -dname "CN=localhost, OU=Dev, O=MyCompany, L=City, ST=State, C=US" -noprompt

# 2. 创建 Truststore 并导入根证书
echo "Creating truststore and importing root CA certificate..."
keytool -import -file $ROOT_CA_CERT -keystore $TRUSTSTORE_FILE -alias root-ca -storepass $TRUSTSTORE_PASSWORD -noprompt

echo "Keystore and truststore have been created and configured successfully."

# 创建 Diffie-Hellman 参数
echo "Generating Diffie-Hellman parameters..."
openssl dhparam -out /etc/ssl/dhparam.pem 2048

